<h1>Tweets about</h1>
<div id="map"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_location_api'] %>&callback=initMap">
</script>
  <label for="text">Search City</label>
  <input type="text" name="search" id="city-search-form" value="">
  <button type="button" name="button" id="submit-search">Submit</button>
